.FrontDeskIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.FrontDeskIcons img{
    width: 150px;
}

.FrontDeskIcons p {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    width: 200px;
    text-align: center;
    
    color: #000000;
}